:root {
  --blue: rgb(76, 125, 191);
}

body {
  margin: 0;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

header, nav {
  color: white;
  background-color: var(--blue);
  margin: 0;
}

ul {
  width: 60%;
  margin: 0 auto;
}

li {
  margin: 10px 0;
}

a {
  color: var(--blue);
}

nav ul {
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
  text-align: right;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

h2, h3 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 0 10px;
}

img, iframe, article {
  width: 100%;
}

article {
  border-top: 1px solid var(--blue);
}

span {
  color: var(--blue);
}

table {
  width: 100%;
  margin-bottom: 20px;
}

td {
  text-align: center;
}

form, footer p {
  text-align: right;
}

label {
  display: block;
  width: 100%;
  margin: 2px;
}

button, input[type="submit"] {
  background-color: var(--blue);
  border-radius: 5px;
  padding: .5em 1em;
  color: white;
  border: 1px solid white;
}

button:hover, input[type="submit"]:hover {
  background-color: white;
  color: var(--blue);
  border: 1px solid var(--blue);
  cursor: pointer;
}

button:disabled, input[type="submit"]:disabled {
  background-color: lightgray;
  color: var(--blue);
  border: 1px solid var(--blue);
  cursor: default;
}

footer {
  margin-top: 20px;
  padding: 10px 0 5px;
  color: white;
  background-color: var(--blue);
}

.checkout {
  width: 80%;
  margin: 0 auto 5px auto;
}

#logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

#admin-login {
  cursor: pointer;
}