:root {
  --blue: rgb(76, 125, 191);
}

body {
  margin: 0;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

header, nav {
  color: white;
  background-color: var(--blue);
  margin: 0;
}

ul {
  width: 60%;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
  text-align: right;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

h2, h3 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 0 10px;
}

img, iframe, article {
  width: 100%;
}

article {
  border-top: 1px solid var(--blue);
}

form, footer p {
  text-align: right;
}

label {
  display: block;
  width: 100%;
}

footer {
  margin-top: auto;
  padding: 10px 0 5px;
  color: white;
  background-color: var(--blue);
}

#logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

#admin-login {
  cursor: pointer;
}